<article>This is a SCSS test</article>
<table>
  <tr>
    <td>
<h1 class = "midmessage"> Header </h1>
    </td>
  </tr>
  <tr>
    <td>
      <article> Article text</article>
    </td>
  </tr>
</table>
