// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'vars';



table{
  border-collapse: separate !important;
  border: 10px solid black;
  @include border-radius(10px);
  article{
    color: $stupid-color !important;
  }
}

.message {

  color: blue;

}

.midmessage{
  @extend .message;
  font-size: 21pt * 3 !important;
  //font-size: 60pt !important;
}
